<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidSchoolApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        
        <!-- Login Activity - Launcher Activity -->
        <activity
            android:name=".activities.common.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
          <!-- Main Activity - After Login -->
        <activity
            android:name=".activities.common.MainActivity"
            android:exported="false" />
            
        <!-- Student Activities -->
        <activity
            android:name=".activities.student.StudentDashboardActivity"
            android:exported="false" />
            
        <activity
            android:name=".activities.student.StudentTasksActivity"
            android:exported="false"
            android:parentActivityName=".activities.student.StudentDashboardActivity" />
            
        <activity
            android:name=".activities.student.TaskDetailActivity"
            android:exported="false"
            android:parentActivityName=".activities.student.StudentTasksActivity" />
            
        <activity
            android:name=".activities.student.StudentScheduleActivity"
            android:exported="false"
            android:parentActivityName=".activities.student.StudentDashboardActivity" />
            
        <activity
            android:name=".activities.student.StudentGradesActivity"
            android:exported="false"
            android:parentActivityName=".activities.student.StudentDashboardActivity" />
              <activity
            android:name=".activities.student.StudentSubmissionsActivity"
            android:exported="false"
            android:parentActivityName=".activities.student.StudentDashboardActivity" />
            
        <!-- Teacher Activities -->
        <activity
            android:name=".activities.teacher.TeacherDashboardActivity"
            android:exported="false" />

            
        <!-- Registrar Activities -->
        <activity
            android:name=".activities.registrar.RegistrarDashboardActivity"
            android:exported="false" />


    </application>

</manifest>